*{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
}
header{
    background: url(/images/desktop/image-hero.jpg) no-repeat ;
    max-width: 100%;
    height: 100vh;
    padding: 2rem 0;
}

.brand-nav{
    display: flex;
    justify-content: space-around;
}

.banner{
    color: #ffff;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    bottom: 35%;
    left: 30%;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 40px;
    padding: 20px;
    border: 2px solid #fff;
    width: 300px;
}

.nav{
    cursor: pointer;
}
.nav a{
    padding: 8px;
}

.nav a:hover{
    border-bottom: 2px solid #fff;
}
/* navbar mobile*/
.menu{
    display: none;
}
.close-menu{
    position: absolute;
    top: 4%;
    right: 11%;
}
.active{
    display:block
}
.nav-mobile.active{
    display:block;
}
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    height: 100vh;
    width: 200px;
    padding: 2rem;
}
.nav-mobile  ul li:first-child{
    margin-top:2rem;
}
.nav-mobile  ul li{
    margin-top: 20px;
    margin-left: 20px;
}
.nav-mobile  li {                                     
    display: block;
}
/* termino navbar mobile*/
.description img{
    height: 400px;
}
.description{
    margin-left: 8rem;
}
.text {
width: 370px;
position: absolute;
background-color: #fff;
padding: 35px;
top: 150%;
right: 25%;
}
.text h1{
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.text p{
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

.grid{
    margin: 10rem 8rem;
}
.header-grid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header-grid h2{
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 2px;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}

.btn:hover{
    background-color: #000;
    color: #fff;
}

.grid-images{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    width: 100%;
    grid-template-rows: repeat(2, 468px);
}

.grid-images img:hover{
    opacity: 0.5;
    cursor: pointer;
}

footer{
    background-color: #000;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    color: #fff;
}

.links a{
    font-size: 14px;
}

.links img{
    margin-bottom: 22px;
}

.icons img{
    margin-bottom: 22px;
    margin-left: 15px;
}
.icons p{
    font-family: 'Josefin Sans', sans-serif;
}
@media(max-width: 425px){
    body{
        width: 100%;
    }
    .menu{
        display: block;
    }
    .nav{
        display: none;
    }
    .brand-nav{
        align-items: center;
        justify-content: space-between;
    }
    header{
        padding: 1rem;
    }
    .banner{
        margin-top: 10rem;
        position: static;
        width: 90%;
        line-height: 32px;
        font-size: 30px;
        max-width: 90%;
    }
    .description{
        margin-top: 1rem;
        margin-left: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .description img{
        width: 98%;
        height: auto;
    }
    .text{
        padding: 0;
        width: 250px;
        position: static;
        margin-top: 1rem;
        text-align: center;
    }
    .grid{
        margin: 5rem  0 0 0;
        width: 100%;
    }
    .header-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        margin-top: 10px;
    }
    .grid-images{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(8, 170px);
    }
    .grid-images img{
        width: 100%;
    }
    footer{
        margin: 0;
        text-align: center;
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
    .links{
        margin-bottom: 20px;
    }
}

@media (max-width: 375px){
    .grid-images{
        grid-template-rows: repeat(8, 150px);
    }
}

@media (max-width: 320px){
    .grid-images{
        grid-template-rows: repeat(8, 130px);
    }
}